*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    appearance: none;
    overflow: hidden;
}

h1{
    color: white;
    position: absolute;
    z-index: 1;
    margin: 30px 0 0 400px;
    font-size: 80px;
}

.div-principal{
    width: 40vw;
    height: 65vh;
    padding: 20px;
    margin: -480px 0 0 400px;
    position: absolute;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.img-div{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 0.3;
}

#logo-top{
    width: 100vw;
    height: 101vh;
    z-index: -2;
    opacity: 0.8;
}

.input-mim{
    width: 40%;
    height: 10%;
    margin: 70px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;

}
.input-max{
    width: 40%;
    height: 10%;
    margin: 10px 0 50px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
button {
    width: 80%;
    height: 20%;
    border-radius: 20px;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(167, 167, 231);

}

button:hover{
    color: white;
    background-color: rgb(50, 23, 75);
}

.swal-wide.button{
    width: 300px !important;
    height: 400px !important;
    margin-top: -250px !important;
    font-size: 15px !important;
    display: flex !important;
    text-align: center !important;
}

p{
    color: white;
    position: absolute;
    margin: -50px  0 0 450px;
}

p a{
    color: white;
}

@media (max-width: 1285px){
    .div-principal{
        margin-top: -650px;
    }
    p{
        margin: -80px 0 0 430px;
    }
}

@media (max-width: 1050px){
    h1{
        margin: 30px 0 0 280px; 
    }
    .div-principal{
        margin: -500px 0 0 320px;
    }
    p{
        margin-left: 280px;
    }
}
@media (max-width: 920px){
    h1{
    margin-left: 200px;
    }
    .div-principal{
        margin: -1160px  0 0 200px;
        width: 60vw;
        height: 45vh;
    }
    p{
         margin: -400px 0 0 220px;
    }
    .swal-wide.button{
        margin-top: -550px !important;
    }
}

@media (max-width: 830px){
    h1{
        margin: 50px 0 0 180px;
    }
    .div-principal{
        margin: -900px 0 0 180px;
    }

    p{
        margin: -200px 0 0 180px;
    }
}

@media (max-width: 770px){
    h1{
        margin-left: 165px;
    }
    .div-principal{
        margin: -750px 0 0 165px;
    }
    p{
        margin: -140px 0 0 165px;
    }
}

@media (max-width: 550px){
    h1{
        font-size: 60px;
        margin-left: 90px;
    }
    .div-principal{
        width: 70vw;
        height: 60vh;
        margin: -580px 0 0 80px;
    }
    p{
        margin:-80px 0 0 40px;
    }
}

@media (max-width: 450px){
    h1{
        margin-left: 30px;
    }
    .div-principal{
        width: 80vw;
        margin: -760px 0 0 40px;
    }
    p{
        margin-left: 10px;
        font-size: 20px;
    }
}

@media (max-width: 420px){
    .div-principal{
        margin-top: -720px;
    }
    p{
        margin-left: 30px;
    }
}

@media (max-width: 395px){
    h1{
        margin-left: 10px;
    }
    .div-principal{
        margin-top: -680px;
    }
}

@media (max-width: 380px){
    .div-principal{
        margin-top: -540px;
    }
}

@media (max-width: 365px){
    h1{
        font-size: 45px;
        margin-left: 40px;
    }
    .div-principal{
        margin-top: -610px;
    }
}

@media (max-width: 350px){
    .div-principal{
        width: 90vw;
        margin: -700px 0 0 15px;
    }
}

    
  
    

