*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    appearance: none;
}
body{
    background-color: rgb(40, 15, 43);
}

.div-principal{
    width: 40vw;
    height: 70vh;
    padding: 20px;
    margin: 10px 0 0 400px;
    position: absolute;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-div{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 0.3;
}

.logo-top{
    width: 30vw;
    height: 20vh;
    margin: 10px 0 0 450px 0;
    border-radius: 30px;
    opacity: 0.9;
}

.input-mim{
    width: 40%;
    height: 10%;
    margin: 70px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;

}
.input-max{
    width: 40%;
    height: 10%;
    margin: 10px 0 50px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
button {
    width: 80%;
    height: 20%;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    background-color: rgb(167, 167, 231);
}

button:hover{
    color: white;
    background-color: rgb(50, 23, 75);
}
.swal-wide.button{
    width:300px !important;
    margin-top: -250px !important;
    font-size: 15px !important;
}

@media (max-width: 1100px){
    
    .logo-top{
        width: 80vw;
        height: 20vh;
        margin-left: 100px;
    }
    .div-principal{
        width: 80vw;
        height: 60vh;
        margin-left: 100px;
    }
    button{
        font-size: 80px;
        width: 400px;
        margin: 50px;
    }
    .input-mim, .input-max{
        margin-bottom: 100px;
        width: 400px;
    }
    .swal-wide{
        width:60vw !important;
        margin-top: -300px !important;
    }
}
@media(max-width: 550px){
    .logo-top{
        margin-left: 55px;
    }
    .div-principal{
        height: 80vh;
        margin-left: 55px;
    }
    .input-mim, .input-max{
        margin-bottom: 50px;
    }
    .swal-wide{
        width:80vw !important;
        margin-top: -150px !important;
    }
}
@media(max-width: 440px){
    .swal-wide{
        width:95vw !important;
        margin-top: -150px !important; 
}
.logo-top{
    width: 95vw;
    margin-left: 10px;
}
.div-principal{
    width: 95vw;
    margin-left: 10px;
}
.input-mim, .input-max{
    width: 75vw;
}
button{
    width: 75vw
}
}
